header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.81rem;
  justify-content: space-between;
}

.head {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}
.sub {
  text-align: center;
  font-family: var(--sub-font);
  font-size: var(--sub-font-size);
  font-weight: 500;
}

nav {
  font-family: var(--main-font);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11rem;
  margin-top: 5.12rem;
  font-size: var(--sub-font-size);
  color: var(--light-font-color);
}

nav > img {
  margin-right: 0.36rem;
}

/*캐릭터*/
/*blue character*/
.blob.left {
  bottom: 40px;
  left: 60px;
  animation-delay: 0s;
  position: absolute;
  width: 21rem;
  height: 21rem;
  background: linear-gradient(154deg, #feffec 28.95%, #97addb 76.91%);
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
}
/*purple character*/
.blob.right {
  bottom: 40px;
  right: 60px;
  animation-delay: 3s;
  position: absolute;
  width: 24rem;
  height: 24rem;
  background: linear-gradient(154deg, #feffec 28.95%, #d0bfff 76.91%);
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
}

/* floating animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

/*eyes container*/
.eyes {
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  gap: 10px;
  transform: translate(-50%, -50%);
}
/*eyes*/
.eye {
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.blob.left .pupil {
  width: 3rem;
  height: 3rem;
  background: #7c9bd7;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  transition: transform 0.1s ease;
}

.blob.right .pupil {
  width: 3rem;
  height: 3rem;
  background: #b2a0e3;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  transition: transform 0.1s ease;
}

/* 깜빡임 (눈꺼풀 효과) */
.blob.left .eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7c9bd7;
  border-radius: 50%;
  transform-origin: top;
  animation: blink 5s infinite;
}

.blob.right .eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b2a0e3;
  border-radius: 50%;
  transform-origin: top;
  animation: blink 5s infinite;
}

@keyframes blink {
  0%,
  90%,
  100% {
    transform: scaleY(0);
  }
  95% {
    transform: scaleY(1);
  }
}
